.widgets{
    margin-bottom: 10px;
}
.items{
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.one{
    width: 120px;
    height: 150px;
    background-color: blue;
    margin-bottom: 10px;
}

.w400 {
    width: 400px;
}
.h200{
    height: 200px;
}
.bg{
    background-color: midnightblue;
}