.widgets{
    width: 400px;
    height: 200px;
    background-color: midnightblue;
    margin-bottom: 10px;
}
.items{
    width: 400px;
    display: flex;
    justify-content: space-between;

}
.one{
    width: 120px;
    height: 150px;
    background-color: blue;
    margin-bottom: 10px;
}
.contact{
    width: 400px;
    height: 200px;
    background-color: midnightblue;
}